/* You can add global styles to this file, and also import other style files */

.main-container .content-container .content-area {
    padding: 0;
}

.sub-title {
    color: #7a8e98;

}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #1f323e;
    border: none;
}
